@import 'base';
body {
    color: white;
}
.container {
    display: grid;
    grid-template-areas:
        "header header header"
        "menu content chat"
        ;
    grid-template-rows: 80px 1fr;
    grid-template-columns: 12% 1fr 20%;
    min-height: 100vh; 
    div {
        border: 1px dotted red;
    }
    .header {
        background-color: $header-color;
        grid-area: header;
    }
    .menu {
        background-color: $menu-color;
        grid-area: menu;
    }

    .content {
        grid-area: content;
    }

    .chat {
        background-color: $chat-color;
        grid-area: chat;
    }
}