// useful mixins
@mixin placeholder {
  ::-webkit-input-placeholder {
    @content;
  }
  :-moz-placeholder {
    @content;
  }
  ::-moz-placeholder {
    @content;
  }
  :-ms-input-placeholder {
    @content;
  }
}

.icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.icon-bg {
  cursor: pointer;
  width: 25px;
  height: 25px;
}
