body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
  background: linear-gradient(90deg, #020024 0%, #090979 56%, #00d4ff 81%); }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.icon {
  width: 15px;
  height: 15px;
  cursor: pointer; }

.icon-bg {
  cursor: pointer;
  width: 25px;
  height: 25px; }

.badge {
  position: absolute;
  top: -5px;
  right: -4px;
  background-color: #2fb398;
  z-index: 1000;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 70%;
  font-weight: bold; }

.colored-circle {
  width: 15px;
  height: 15px;
  border: 2px solid;
  border-radius: 50%;
  margin-right: 10px; }

.search {
  background-color: inherit; }
  .search input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid currentColor;
    color: inherit; }
    .search input :hover,
    .search input :active,
    .search input :focus {
      outline: none; }
  .search ::-webkit-input-placeholder {
    color: inherit;
    font-style: italic; }
  .search :-moz-placeholder {
    color: inherit;
    font-style: italic; }
  .search ::-moz-placeholder {
    color: inherit;
    font-style: italic; }
  .search :-ms-input-placeholder {
    color: inherit;
    font-style: italic; }
  .search .icon {
    position: relative;
    top: -5px;
    left: -15px; }

.chat {
  max-height: calc(100vh - 85px);
  overflow: auto;
  background-color: #eaedf1;
  grid-area: chat;
  padding: 30px;
  color: #788390; }
  .chat .search {
    color: #b5bcc5;
    border-color: #b5bcc5; }
  .chat .heading {
    color: #595a5d;
    margin: 20px 0px;
    justify-content: flex-end;
    text-transform: uppercase;
    font-size: 14px; }
    .chat .heading span {
      margin-right: 10px; }
  .chat .chat-item {
    padding: 10px 0px;
    cursor: pointer; }
    .chat .chat-item:nth-of-type(1n) .online {
      background-color: orange; }
    .chat .chat-item:nth-of-type(2n) .online {
      background-color: #e76048; }
    .chat .chat-item:nth-of-type(3n) .online {
      background-color: #2fb398; }
  .chat .avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px; }
  .chat .name {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px; }
  .chat .indicator {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%; }
  .chat .offline {
    background-color: #bbb7b7; }

.menu {
  background-color: #1f282d;
  grid-area: menu;
  padding: 5px 0; }
  .menu .heading {
    height: 40px;
    color: #75838c;
    text-transform: uppercase;
    padding: 20px 30px;
    font-size: 12px;
    font-family: sans-serif; }
  .menu .list-item {
    padding: 0 30px;
    height: 42px;
    justify-content: flex-start;
    cursor: pointer;
    color: #ffffffb5; }
    .menu .list-item img {
      margin-right: 10px; }
    .menu .list-item:hover {
      background-color: #2f373c; }
    .menu .list-item:nth-of-type(1n) .colored-circle {
      border-color: yellow; }
    .menu .list-item:nth-of-type(2n) .colored-circle {
      border-color: #e76048; }
    .menu .list-item:nth-of-type(3n) .colored-circle {
      border-color: #2fb398; }

.container {
  margin: auto;
  max-width: 1254px;
  display: grid;
  grid-template-areas: "header header header" "menu content chat";
  grid-template-rows: 85px 1fr;
  grid-template-columns: 200px minmax(300px, 1fr) 225px;
  min-height: 100vh; }
  .container .header {
    display: flex;
    background-color: #151d20;
    grid-area: header; }
    .container .header .search {
      background-color: #2fb398;
      color: white;
      border-color: white;
      width: 200px; }
      .container .header .search input {
        width: 140px; }
  .container .content {
    grid-area: content;
    background-color: white; }
  .container .nav-menu {
    flex-grow: 1;
    justify-content: flex-end; }
    .container .nav-menu .icon {
      width: 20px;
      height: 20px; }
    .container .nav-menu .icon-container {
      border-radius: 50%;
      border-color: white;
      border-style: solid;
      border-width: 1px;
      width: 35px;
      height: 35px;
      margin-right: 30px;
      cursor: pointer;
      position: relative; }
  .container .add-new {
    cursor: pointer;
    background-color: #e76048;
    width: 85px; }

/*# sourceMappingURL=index.css.map */
