.menu {
  background-color: $menu-color;
  grid-area: menu;
  padding: 5px 0;

  .heading {
    height: 40px;
    color: #75838c;
    text-transform: uppercase;
    padding: 20px 30px;
    font-size: 12px;
    font-family: $menu-heading-font;
  }

  .list-item {
    padding: 0 30px;
    height: 42px;
    justify-content: flex-start;
    cursor: pointer;
    color: #ffffffb5;
    img {
      margin-right: 10px;
    }
    &:hover {
      background-color: #2f373c;
    }

    &:nth-of-type(1n) {
      .colored-circle {
        border-color: yellow;
      }
    }

    &:nth-of-type(2n) {
      .colored-circle {
        border-color: $orange-color;
      }
    }

    &:nth-of-type(3n) {
      .colored-circle {
        border-color: $green-color;
      }
    }
  }
}
